
* {
	box-sizing: border-box;
}

body {
	background-color: grey;
	margin: 0;
	padding: 0;
}
/************* Desktop devices only *********/
@media (min-width: 992px) {
	.col-lg-1, {
	}

	.col-lg-1 {
		width: 33.33%;
	}
}

/************* Tablet devices only *********/
@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-1, .col-md-2, {
	}

	.col-md-1 {
		width: 50%;
	}
	.col-md-2 {
		width: 50%;
	}
}

/************* Mobile devices only *********/
@media (max-width: 767px) {
	.col-xs-1,
	.col-xs-1 {
		width: 100%;
	}
}

/*** rest ***/
#box1 {
	color: white;
	background-color: black;
	border:  1px solid black;
	height: 120px;
	margin: 40px;
	padding: 10px;
	clear: both;
}

#content1 {
	top: -10px;
	color:blue;
	background-color: white;
	width: 58px;
	height: 25px;
    position:relative;
 	float: right;
	right: -10px;
    text-align: center;	
}

#box2 {
	background-color: lightblue;
	color:red;
	border: 1px solid black;
    	margin: 40px;
	height: 120px;
	padding: 10px 10px 10px 10px;
	clear: right;
}

#content2 {
	color: black;
	background-color: red;
	width: 58px;
	height: 25px;
    	position: relative;
  	top: -10px;
	right: -10px;
	float: right;
    	text-align: center;
}

#box3 {
	background-color: red;
	border:  1px solid black;
	margin: 40px;
	height: 120px;
	padding: 10px 10px 10px 10px;
	clear: center;
}

#content3 {
	background-color: lightblue;
	width: 58px;
	height: 25px;
    position: relative;
    	top: -10px;
	right: -10px;
	float: right;
    text-align: center;
}
