body {
	background-image: url("https://www.planwallpaper.com/static/images/cool-background.jpg");
	font-family: Roboto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: right;
    text-align: center;
}

li a {
    display: inline-block;
    color: red;
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

li a:active {
	background-color: red;
}

#picture {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}

#bar1 {
	width: 100%;
	height: 30px;
	background-color: black;
}

#menu {
	color: red;
	word-spacing: 15em;
	line-height: 2em;
	font-weight: bolder;
}

#bar2 {
	width: 80%;
	height: 30px;
	background-color: blue;
	margin: 0 10% 0 10%;
	border: 1px solid black;
}

#bar3 {
	width: 80%;
	height: 30px;
	background-color: red;
	margin: 0 10% 0 10%;
	border: 1px solid black;
}

.social {
	margin: 0.2em 4em 0 4em;
}

.barheader {
	font-weight: bolder;
	margin-left: 4em;
	line-height: 2em;
}

.img1 {
  position: absolute;
  margin-top: 1%;
  margin-left: 10%;
}

.img2 {
  position: absolute;
  margin-top: 1%;
  margin-left: 40%;
}

.img3 {
  position: absolute;
  margin-top: 1%;
  margin-left: 69.5%;
}

.caption {
	width: 250px;
}

.header {
	font-weight: bolder;
	font-size: 1.1em;
	display: block;
}

#bar4 {
	width: 80%;
	height: 30px;
	background-color: red;
	margin: 25% 10% 0 10%;
	border: 1px solid black;
}
